{% extends "basecats.html" %}
{% block title %}
{{title}}
{% endblock %}


{% block content %}
<h1>Examples from Kundur </h1>
<div class="tabs">
    <form action="/cict/roma/" method="POST" enctype="multipart/form-data"> 
      {% csrf_token %} 
      <table>
      <tr><td colspan=2><input type="file" id="signals" name="filename"></tr>
      <tr><td><b>Algorithms</b></td><td>
	 <!-- Generar lista de algoritmos -->
	 <select name="algorithm" id="algorithm" onchange="show_hide_params_rd()">
         {% for a in algorithms.items %}
            <option value="{{a.0}}" 
            {% if alg == a.0 %} 
                    selected
            {% endif %}
            >{{a.1}}</option>
            {% endfor %}
      </select></td></tr>
<tr><td><b>Starting time:</b>:</td><td><input type="text", name="ti" id="ti"></td></tr>
<tr><td><b>Ending time:</b>:</td><td><input type="text", name="tf" id="tf"></td></tr>
      <tr      {% if alg == 0 %}
	       style="display: table-row;"
	       {% else %}
	       style="display: none;"
	       {% endif %}
	       id="tr_order"><td><b> Order: </b></td><td><input type="text" name="order" id="order" value="3" /></td></tr>
      <tr  {% if alg != 0 %}
	       style="display: table-row;"
	       {% else %}
	       style="display: none;"
	   {% endif %}
	   id="tr_threshold"><td><b>Threshold : </b></td><td><input type="text" name="threshold" id="threshold" value = "0.5"/></td></tr>
<!--<tr><td><b>Signal name:</b></td><td><input type="text" name="signal" id="signal"></td></tr>-->
<tr><td><input type="submit"  value="submit"></td><td></td></tr>

    </form>
    <!-- Zona de desplegar -->
</div>
<table width="800">
  <tr>{{tab.table|safe}}</tr>
  {% if tab %}
        <tr>
	  <b>Download table as</b>:&nbsp;<a class="button" onclick="download_text('latextable')">latex-code</a>
	  <a class="button"  onclick="download_text('csvtable','csv')">comma separated csv</a> 
	  <div style="display: none;" id="latextable" name="csvtable">
	   {{tab.latex|safe}} 
	 </div>
	 <div style="display: none;" id="csvtable" name="csvtable">
	   {{tab.csv}} 
	 </div>
      <tr>
  {% endif %}
      <tr>{{fig|safe}}</tr>
    </table>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
