{% extends "basecats.html" %}
{% block title %}
{{title}}
{% endblock %}

<!-- {% block header %}
<h1>Examples from FNET: {{d}}</h1>
{% endblock %}-->

{% block content %}
<div class="tabs">
{% for tab in tabs %}
<!--<a href="/cict/app/clusters/{{event}}/">{{event}}<a/>-->
<input type="radio" name="tabset" id="{{tab.id}}" {% if tab.active %} checked {% endif %}>
  <label for="{{tab.id}}">
    <span style="font-family: 'Press Start 2P';  font-size: 16px; color:white;">{{tab.name}}</span>
  </label>
  <div class="tab"> 
   
    <form action="/cict/app/clusters/" method="POST" enctype="multipart/form-data"> 
      {% csrf_token %} 
      <table>
      <tr><td colspan=2><input type="file" id="signals" name="filename"></tr>
<tr><td><b>Algorithms</b></td><td><select name="algorithm" id="algorithm" onchange="show_hide_params()">
        {% for a in algorithms.items %}
        <option value="{{a.0}}" 
        {% if alg == a.0 %} 
          selected
        {% endif %}
        >{{a.1}}</option>
        {% endfor %}
      </select></td></tr>	
      <tr id="rdistance" name="rdistance"
      {% if alg == "affinity"  or alg == "vat" %}
        style="display: table-row;"
      {% else %}
           style="display: none;"
      {% endif %}
      ><td><b>Distance Function</b></td><td><select id="distance" name="distance">
        {% for d in distances.items %}
        <option value="{{d.0}}" 
        {% if dist == d.0 %} 
          selected
        {% endif %}
        >{{d.1}}</option>
        {% endfor %}
        <tr id="rnclusters" name="rnclusters" 
        {% if alg == "kmeans" %}
        style="display: table-row;"
        {% else %}
           style="display: none;"
        {% endif %}>
        <td><b>Number of clusters</b></td><td><select id="nclusters" name="nclusters">
          {% for n in nclusters.items %}
          <option value="{{n.0}}" 
          {% if nc == n.0 %} 
            selected
          {% endif %}
          >{{n.1}}</option>
          {% endfor %}
        <tr id="rlinkage" name="rlinkage" 
        {% if alg == "hierarchical" %}
        style="display: table-row;"
        {% else %}
           style="display: none;"
        {% endif %}>
        <td><b>Linkage</b></td><td><select id="linkage" name="linkage">
          {% for l in linkages.items %}
          <option value="{{l.0}}" 
          {% if lk == l.0 %} 
            selected
          {% endif %}
          >{{l.1}}</option>
          {% endfor %}
        <tr><td><input type="submit"  value="submit"></td><td></td></tr>
    </form>
    <table width="80%">
      <tr colspan=2><td>{{tab.table|safe}}</td></tr>
      {% if alg == "vat" %}
      <tr colspan=2><td>{{opt.to_html|safe}}</td></tr>
      {% endif %}
      <tr><td>{{tab.curves|safe}}</td></tr><tr>
      {% if mapa %}
      <tr><td>{{tab.fig|safe}}</td></td>
      {% endif %}
    </table>
  </div>
  {% endfor %}
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
