{% extends "basecats.html" %}
{% block title %}
{{title}}
{% endblock %}

<!-- {% block header %}
<h1>Examples from FNET: {{d}}</h1>
{% endblock %}-->

{% block content %}
<div class="tabs">
{% for tab in tabs %}
<!--<a href="/cict/app/clusters/{{event}}/">{{event}}<a/>-->
<input type="radio" name="tabset" id="{{tab.id}}" {% if tab.active %} checked {% endif %}>
  <label for="{{tab.id}}">
    <span style="font-family: 'Press Start 2P';  font-size: 16px; color:white;">{{tab.name}}</span>
  </label>
  <div class="tab"> 
   
    <form action="/cict/app/clusters/" method="POST" enctype="multipart/form-data"> 
      {% csrf_token %} 
      <table>
      <tr><td colspan=2><input type="file" id="signals" name="filename"></tr>
<tr><td><b>Algorithms</b></td><td><select name="select">
        {% for a in algorithms.items %}
        <option value="{{d.0}}" 
        {% if alg == a.0 %} 
          selected
        {% endif %}
        >{{a.1}}</option>
        {% endfor %}
      </select></td></tr>	
      <tr><td><b>Distance Function</b></td><td><select name="select">
        {% for d in distances.items %}
        <option value="{{d.0}}" 
        {% if dist == d.0 %} 
          selected
        {% endif %}
        >{{d.1}}</option>
        {% endfor %}
      <tr><td><input type="submit"  value="submit"></td><td></td></tr>
    </form>
    <table>
      <tr><td>{{tab.table|safe}}</td></tr>
      <tr><td>{{tab.curves|safe}}</td></tr>
      <tr><td>{{tab.fig|safe}}</td></td>
    </table>
  </div>
  {% endfor %}
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
